@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:rgb(57, 138, 78);
    --primary-color-dark:rgb(30, 102, 46);
    --text-dark:#15191d;
    --text-light:#737373;
    --extra-light:#e5e5e5;
    --white:#ffffff;
    --max-width: 1200px;
    --header-font: "Poppins", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html,
body{
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

header{
    position:relative;
    background-image: url(https://t4.ftcdn.net/jpg/02/15/64/95/360_F_215649564_1qIEiuNHAwcE3QbdDwLpK4vG4C14qS9i.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 1rem;
    /* border: solid 2px red; */
}

.section__header{
    font-size: 3.25rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    letter-spacing: -1px;
    line-height: 4.25rem;
    
}

.section__h3 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    letter-spacing: -1px;
    line-height: 4.25rem;
}

.nav__header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav__logo a {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--white);
    letter-spacing: 0px;
}

.nav__menu__btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav__links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: transform .5s;
    z-index: -1;
}

.nav__links.open{
    transform: translateY(100%); 
}

.nav__links a {
    font-weight: 500;
    color: var(--white);
}

.nav__links a:hover {
    color: var(--text-dark);
}

.nav__btn {
    display: none;
}

.header__container {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 5rem 1rem;
}

.header__container p{
    max-width: 750px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.7rem
    
}

.header__container img {
    max-width: 750px;
    margin-inline: auto;
    filter: drop-shadow(5px 20px 20px rgba(0,0,0,0.5));
    border-radius: 10px;
   
}

.header__container h1 {
    max-width: 750px;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    letter-spacing: -1px;
    text-align: center;
    line-height: 5rem;
}

.prestation__container .section__header{
    max-width: 700px;
    margin-inline:auto;
    margin-bottom: 1rem;
    text-align: center;
}

.prestation__container p{
    max-width: 700px;
    margin-inline:auto;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.7rem;
}

.prestation__container img {
    max-width: 750px;
    margin-inline: auto;
    filter: drop-shadow(5px 20px 20px rgba(0,0,0,0.5));
    border-radius: 10px;
    margin-bottom: 3rem;
}

.divider{
    border: solid 1px black;
    width: 50%;
    max-width: 250px;
    margin-inline: auto;
    margin-bottom: 4rem;
    margin-top: 5rem;

}

.carte__2 h3{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

wine-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
   
    
}

.carte h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wine-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.wine-item:hover {
    transform: translateY(-10px);
}

.wine-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.wine-info {
    padding: 15px;
    /* border: solid 2px red; */
    width:300px;
}

.wine-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4b2f1f;
    margin-bottom: 10px;
}

.domaine-name {
    font-size: 1.2rem;
    color: #777;
    margin-bottom: 8px;
}

.price-per-bottle,
.price-for-6 {
    font-size: 1.4rem;
    color: #444;
    margin-bottom: 6px;
}

.wine-year {
    font-size: 1.1rem;
    color: #888;
}

.wine-item img {
   max-width:250px;
}

.domaine-martin{
    width: 100%;
    background-color: rgba(234, 0, 255, 0.339);
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.domaine-buffiere{
    width: 100%;
    background-color: rgba(132, 227, 78, 0.49);
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}





@media (width > 768px) {
    nav{
        position: static;
        padding: 2rem 1rem 0;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav__header{
        flex: 1;
        padding: 0;
        background-color: transparent;
    }

    .nav__logo a {
        color: var(--text-dark);
    }

    .nav__menu__btn{
        display: none;
    }

    .nav__links {
        position: static;
        padding: 0;
        width: fit-content;
        flex-direction: row;
        background-color: transparent;
        transform: none;
    }

    .nav__links a {
        color:var(--text-dark);
    }

    .nav__links a:hover {
        color:var(--primary-color);
    }

    .nav__btn {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    .nav__btn .btn{
        color: var(--text-dark);
        background-color: var(--primary-color);
    }

    .nav__btn .btn:hover{
        background-color: var(--primary-color-dark);
    }

    .bouteille {
        /* border: solid 2px red; */
        padding-top: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .carte__1 {
        margin-top: 2rem;
    }

    .carte__bouteille {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        /* border: solid 1px blue; */
        max-width: 300px;
    }

    .carte__bouteille p {
        line-height: .5rem;
    }

    .nav__btn a {
        padding: 1rem 1.5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        color: var(--text-dark);
        background-color: var(--primary-color);
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }

    .wine-gallery{
        display: flex;
        justify-content: center;
        padding: 2rem;
        max-width: 1200px;
        flex-wrap: wrap;
        gap: 2rem;
    }

}
