@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    max-width: 1200px;
    font-family: "Poppins", sans-serif;
    margin: auto;
    font-size: 16px;
    background-color: #f3a318;
    
}



.noborder{
    border-radius: 0;
    box-shadow: none;
    border: none;
}

img{
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    border: solid 3px #fff;
}




nav {
    width: 100%;
    height: 90px;
    background-color: #f0f08d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: orange;
    
    
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    
    
}







.logo {
    display: flex;
    flex-direction: column;
}

nav a{
    text-decoration: none;
    color: orange
}

nav a:hover{
    color: black;
    cursor: pointer;
    border-bottom: 2px solid black;
    
}

button{
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    background:none;
    color: orange;
    border-radius: 5px;
}

button:hover{
    background-color: orange;
    color: #fff;
    cursor: pointer;
    transform: scale(1.07);
}

.form-button{
    background-color: orange;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.info button{
    margin-top: 1rem;
    background-color: #fff;

}

.info button:hover{
    color: #f3a318;
}



.menu-hamburger{
    display: none;
}

header{
    padding: 0 2rem;
    text-align: center;
    
}



header h1{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    
}

.text{
    margin-bottom: 1rem;
    margin-top: 5px;
    
}

.carte-3{
    margin-top: 1rem;
}

.prestation{
    text-align: center;
    padding: 0 2rem;
}

.margin-h1{
    margin-top: 1rem;
    
}



.about{
    text-align: center;
    padding: 0 2rem;
}

.booking-form{
    margin: 0 auto;
    background-color: rgba(249, 182, 90, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 80%;
    margin-bottom: 2rem;
    
}

.divider{
    height: 2rem;
}

.booking-form h2{
    text-align: center;
}

.booking-form form{
    display: flex;
    flex-direction: column;
    
}

.booking-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button {
    margin-top: 10px;
    padding: 10px;
}

.booking-form button:hover{

}

@media (min-width:760px) {
    .carte-1{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        text-align: left;
        
        
    }

    .margin-h1, .about{
       
        padding-top: 3rem;
        text-align: left;
        max-width: 1020px;
        margin: auto;
        
    }

    .carte-3 {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: left;
    }

    .carte-4 {
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        
    }

    

    header{
        
    }

    .paragraph {
        max-width: 55%;
    }

    .carte-2{
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 5rem;
        text-align: right;
    }

    
}




@media (max-width:850px){
    nav a {
        width: 100%;
        
    }

    nav ul{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: auto;
        padding: 1rem;
        position: absolute;
        transform: translateY(-100%);
        transition: 0.5s ease;
        background-color: #f4f4dc;
        

    }

    nav ul.open{
        
        transform: translateY(0);
        top: 90px;
        
    }

    

    button{
        /* display: none; */
    
    }

    .menu-hamburger{
        display: block;
        font-size: 25px;
    }

    .menu-hamburger:hover{
        cursor: pointer;
    }
}